@import "tailwindcss";

:root {
  --main: #f5c842;
  --main-dark: #d2a318;

  --grey: #808080;
  --grey-dark: #666666;

  --black: #000000;
  --white: #ffffff;
}

@theme inline {
  --color-main: var(--main);
  --color-main-dark: var(--main-dark);

  --color-grey: var(--grey);
  --color-grey-dark: var(--grey-dark);

  --color-black: var(--black);
  --color-white: var(--white);

  --font-sans: var(--font-noto-sans-kr);
  --font-geist-sans: var(--font-geist-sans);

  --color-new: var(--main);
  --color-edit: var(--color-gray-500);
  --color-delete: var(--color-red-500);
  --color-save: var(--color-blue-500);
  --color-done: var(--color-green-500);
}

body {
  background: var(--main);
  color: var(--black);
  font-family: var(--font-noto-sans-kr), var(--font-geist-sans);
}

input:not([readonly]):focus-within {
  outline-color: var(--main);
  outline-width: 1px;
  outline-style: solid;
}
