@import "tailwindcss";

:root {
  --main: #8b5cf6;
  --main-dark: #7750d3;

  --grey: #808080;
  --grey-dark: #666666;

  --black: #000000;
  --white: #ffffff;

  --gradient-start: #8b5cf6;
  --gradient-end: #ec4899;
}

@theme inline {
  --color-main: var(--main);
  --color-main-dark: var(--main-dark);

  --color-grey: var(--grey);
  --color-grey-dark: var(--grey-dark);

  --color-black: var(--black);
  --color-white: var(--white);

  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);

  --font-sans: var(--font-noto-sans-kr);
  --font-geist-sans: var(--font-geist-sans);

  --color-new: var(--main);
  --color-edit: var(--color-gray-500);
  --color-delete: var(--color-red-500);
  --color-save: var(--color-blue-500);
  --color-done: var(--color-green-500);
}

body {
  background: var(--main);
  color: var(--black);
  font-family: var(--font-noto-sans-kr), var(--font-geist-sans);
}

input:not([readonly]):focus-within {
  outline-color: var(--main);
  outline-width: 1px;
  outline-style: solid;
}

@keyframes opacity-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

@keyframes bounce-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}
