@import "tailwindcss";

:root {
  --background: #f5c842;
  --sub-background: #ffd968;
  --foreground: #171717;
}

@theme inline {
  --color-white: #ffffff;
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr);
  --font-geist-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr), var(--font-geist-sans);
}
